<div class="summary-panel">
    <div class="summary-filler"></div>
    <div class="summary-inner">
        <div class="col-md-12 btn-group" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                {{vm.occurance}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="occurance in vm.occurances"><a ng-click="vm.selectOccurance(occurance)">{{occurance}}</a></li>
            </ul>
        </div>
        <div class="expense" ng-show="vm.showGraph">
            <div class="heading">Expense Breakdown (percentage)</div>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-legend="true">
            </canvas>
        </div>
        <div class="difference" ng-show="vm.showGraph">
            <div class="heading">Income vs Expense</div>
            <div class="table-container">
                <table class="table">
                    <tr>
                        <th class="col-md-3 text-left">Income</th>
                        <td class="col-md-9 text-right">{{vm.positiveflow | currency}}</td>
                    </tr>
                    <tr>
                        <th class="col-md-3 text-left">Expense</th>
                        <td class="col-md-9 text-right">{{vm.negativeflow | currency}}</td>
                    </tr>
                    <tr class="total">
                        <th class="col-md-3"></th>
                        <td class="col-md-9 text-right">
                            <span ng-if="vm.deficit">(</span>{{vm.difference | currency}}<span ng-if="vm.deficit">)</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
