  <ng-form>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Complete The Import Process</h3>
  </div>

  <div ng-show="!$ctrl.loadingTable" class="modal-body container">
    <!-- TODO make header fix. Needs dom manipulation. See https://gist.github.com/flaviaza/3763015 -->
    <table class="table table-fixed" id="ledger-upload">
      <thead>
        <tr>
          <th ng-repeat="colDetail in $ctrl.colSetup track by $index" edi-theader col-detail="::colDetail" ng-class="colDetail.class" on-sort="$ctrl.setSort(column, desc)"></th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.items | orderBy : $ctrl.sortType : $ctrl.sortDesc | limitTo:10 track by item.id" edi-tr ng-model="item" edit-only edi-tr-setup="::$ctrl.colSetup" ng-form="tr{{item.id}}" edi-tr-editable="$ctrl.initEditState" edi-tr-multi-selector="true" edi-tr-on-save="$ctrl.saveEntries(items)" ng-cloak repeat-complete="$ctrl.loadingTable = false">
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.ignore()">Cancel</button>
  </div>
</ng-form>
