  <ng-form>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Uploading from {{$ctrl.fileName}}</h3>
  </div>

  <div ng-show="!$ctrl.loadingTable" class="modal-body container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-form navbar-left">
            <div class="form-group">
              <switch id="allselection" name="allselection" ng-model="$ctrl.isToSelectAll" on="Select All" off="Select None" class="green" ng-change="$ctrl.onAllSelectionChange()"></switch>
            </div>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <a>Remaining <span class="badge">{{$ctrl.items.length}}</span></a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="row">
      <!-- TODO make header fix. Needs dom manipulation. See https://gist.github.com/flaviaza/3763015 -->
      <table class="table table-fixed" id="ledger-upload">
        <thead>
          <tr>
            <th ng-repeat="colDetail in $ctrl.colSetup track by $index" edi-theader col-detail="::colDetail" ng-class="colDetail.class" on-sort="$ctrl.setSort(column, desc)"></th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in $ctrl.items | orderBy : $ctrl.sortType : $ctrl.sortDesc | limitTo:12 track by item.id" edi-tr ng-model="item" edit-only edi-tr-setup="::$ctrl.colSetup" ng-form="tr{{item.id}}" edi-tr-editable="$ctrl.initEditState" edi-tr-multi-selector="true"
          ng-cloak repeat-complete="$ctrl.loadingTable = false"
          edi-tr-on-save="$ctrl.saveEntries(items)" edi-tr-on-delete="$ctrl.removeEntries(items)">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.ignore()">Cancel</button>
  </div>
</ng-form>
