<td ng-repeat="column in vm.columnSetup" ng-class="column.class">
  <span ng-if="vm.editable" ng-switch="column.inputType">
    <select ng-switch-when="select" name="{{column.prop}}" ng-model="vm.editted[column.prop]" ng-options="option as option for option in column.getOptions()" required></select>
    <input ng-switch-default name="occurance" type="{{column.inputType}}" ng-model="vm.editted[column.prop]" required></input>
  </span>
  <span ng-if="!vm.editable && column.prop != 'amount'" class='item-padding'>{{vm.item[column.prop]}}</span>
  <span ng-if="!vm.editable && column.prop === 'amount'" class='item-padding'>{{vm.item[column.prop] | removeNegativeSym:vm.disableRemoveNeg | currency}}</span>
</td>
<td>
  <button class="btn btn-default btn-sm pull-right" ng-click="vm.edit()" ng-if="!vm.editable">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <div class="pull-right" ng-if="vm.editable">
    <button class="btn btn-primary btn-sm" ng-click="vm.save()" ng-disabled="vm.editting">
      <span ng-class="!vm.editting ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-refresh spinning'"></span>
    </button>
    <button class="btn btn-default btn-sm" ng-click="vm.cancel()" ng-hide='vm.editting'>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</td>
