<table class="article-table table table-hover">
  <thead>
    <tr>
      <th ng-repeat="header in $ctrl.columnSetup" ng-class="header.class">
        <a ng-click="$ctrl.toggleSort(header.prop)">{{header.name}}</a>
        <span ng-show="$ctrl.isToggled(header.prop)" ng-class="$ctrl.sortDesc ? 'glyphicon glyphicon-sort-by-alphabet-alt' : 'glyphicon glyphicon-sort-by-alphabet'"></span>
      </th>
      <th class="col-md-2">
        <button ng-if="$ctrl.items.length > 0" class="btn btn-default btn-sm pull-right" ng-click="$ctrl.toggleItemizer()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody ng-show="$ctrl.addItem">
    <tr article-tr-itemizer ng-form="newItemForm" itemizer-year="$ctrl.year" itemizer-categories="$ctrl.categories" itemizer-on-completed="$ctrl.onComplete()"></tr>
  </tbody>
  <tbody>
    <tr ng-repeat="item in $ctrl.items | orderBy : $ctrl.sortType : $ctrl.sortDesc" article-tr article-tr-data="item" article-tr-categories="$ctrl.categories" article-tr-year="$ctrl.year" ng-form="articleTrForm">
    </tr>
  </tbody>
</table>
