<table class="article-table table table-hover">
    <thead>
        <tr>
            <th class="col-md-5 text-left">
                <a href="#" ng-click="toggleSort('item')">
                    Item
                </a>
                <span ng-show="sortType == 'item' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'item' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="col-md-2 text-left">
                <a href="#" ng-click="toggleSort('category')">
                    Category
                </a>
                <span ng-show="sortType == 'category' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'category' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="col-md-2 text-center">
                <a href="#" ng-click="toggleSort('occurance')">
                    Frequency
                </a>
                <span ng-show="sortType == 'occurance' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'occurance' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="col-md-1 text-right">
                <a href="#" ng-click="toggleSort('amount')">
                    Amount
                </a>
                <span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th class="col-md-2">
              <button ng-if="items.length > 0" class="btn btn-default btn-sm pull-right" ng-click="toggleItemizer()">
                    <span class="glyphicon glyphicon-plus"></span>
              </button>

            </th>
        </tr>
    </thead>
    <tbody ng-show="addItem" >
        <tr article-itemizer ng-show="addItem" itemizer-year="year" itemizer-categories="categories" itemizer-on-completed="onComplete()" ng-form="newItemForm"></tr>
    </tbody>
    <tbody>
        <tr ng-repeat="item in items | orderBy:sortType:sortReverse"
          article-tr
          article-tr-data="item"
          article-tr-categories="categories"
          article-tr-year="year"
          ng-form="articleTrForm">
        </tr>
    </tbody>
</table>
