<ng-form name="revisionForm">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Complete The Import Process</h3>
  </div>
  <div ng-show="!$ctrl.loadingTable" class="modal-body container">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th ng-repeat="colDetail in $ctrl.colSetup track by $index" edi-theader col-detail="::colDetail" ng-class="colDetail.class" on-sort="$ctrl.setSort(column, desc)"></th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.items | orderBy : $ctrl.sortType : $ctrl.sortDesc" edi-tr ng-model="item" init-with-edit edi-tr-setup="::$ctrl.colSetup" ng-form edi-tr-editable="true" ng-cloak>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok(revisionForm.$valid)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.ignore()">Cancel</button>
  </div>
</ng-form>
